# ---------------------------------------------------------
# Python Artifacts
# ---------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# ---------------------------------------------------------
# Virtual Environments
# ---------------------------------------------------------
env/
venv/
myenv/
ENV/
env.bak/
venv.bak/

# ---------------------------------------------------------
# PyInstaller Build Folders
# ---------------------------------------------------------
build/
dist/
*.spec
*.exe

# ---------------------------------------------------------
# Custom Project Exclusions (Debug & Logs)
# ---------------------------------------------------------
debug_logs/
*.jpg
*.png

# ---------------------------------------------------------
# IDEs and OS Specific
# ---------------------------------------------------------
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db